/*-- scss:defaults --*/

// Colors
$black: #000000;
$light-grey: #ebebeb;
$grey: #9b9b9b;
$dark-grey: #1b1b1b;
$white: #ffffff;
$pink: #ae1f52;

// Base document colors

// Navbar
$navbar-bg: $black; // navbar
$navbar-fg: $grey; // navbar foreground elements
$navbar-hl: $white; // highlight color when hovering over navbar links

// Body
$body-bg: $white; // page background 
$body-color: $black; // page text 
$link-color: $pink; // hyperlinks 

// Footer
$footer-bg: $black; // footer 
$footer-fg: $white; // footer 